.no-enter
{
    /*dummy for autocomplete*/
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Sans Serif;
    background-color: #f0f0f0;
}

body {
    padding: 0 0 60px 0;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a img {
    text-decoration: none;
    border: none;
}

body.login {

}

input[type="submit"] {
    cursor: pointer;
}

body.login .wrap {
    width: 960px;
    margin: 50px auto 0 auto;
    display: block;
    text-align: center;
    position: static;
}

body.login .wrap h1 {
    font-size: 26px;
    color: #333333;
    margin: 0;
    padding: 0;
}

body.login .wrap .error {
    color: #FF0000;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

body.login .wrap form {
    margin: 20px 0 0 0;
    padding: 0;
}

body.login .wrap form p {
    font-size: 14px;
    margin: 0 0 3px 0;
    padding: 0;
    color: #444444;
}

body.login .wrap form input {
    width: 200px;
    text-align: center;
    font-size: 12px;
    color: #666666;
    padding: 3px 10px;
    border: 1px solid #999999;
    margin: 0 0 10px 0;
    background-color: #ffffff;
}

body.login .wrap form input.button {
    margin: 10px 0 0 0;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px 40px;
    width: auto;
}

body.login .wrap form select {
    width: 200px;
    text-align: center;
    font-size: 12px;
    color: #666666;
    padding: 3px 10px;
    border: 1px solid #999999;
    margin: 0 0 10px 0;
    background-color: #ffffff;
}

.alcen {
    text-align: center;
}

.wrap {
    position: static;
    left: 0px;
    color: #333333;
    top: 40px;
    padding: 0;
    margin: 60px 10px 25px 310px;
    font-size: 14px;
    text-align: center;
    min-width: 710px;
}

.wrap h1 {
    font-size: 26px;
}

.wrap p {
    font-size: 12px;
}

.wrap table {
    min-width: 50%;
    margin: 10px auto 20px auto;
    border-collapse: collapse;
}

.wrap table td {
    border: 1px solid #999999;
    margin: 0;
}

.newmarg {
    margin: 60px 10px 25px 110px;
}

.wrap table thead {
    font-weight: bold;
}

.wrap table thead td {
    font-size: 14px;
    padding: 7px;
    background-color: #ddd;
}

.wrap table tbody {
    font-size: 12px;
}

.wrap table tbody td {
    margin: 0;
    padding: 5px 5px;
    vertical-align: top;
}

.wrap table tbody td textarea {
    width: 98%;
}

.wrap table tbody td select[name="id_categorys"] , .wrap table tbody td input[type="text"] {
    width: 98%;
}

.wrap table.crossmid tbody td {
    vertical-align: middle;
    text-align: left;
}

.wrap table tbody td table td {
    vertical-align: middle;
    text-align: left;
}

.wrap table tbody td a {
    color: #333333;
}

.delete {
    color: #ff0000 !important;
}

.no-decoration {
    text-decoration: none !important;
}

.no-decoration:hover {
    text-decoration: underline !important;
}

a.add {
    font-size: 14px;
    line-height: 40px;
    color: #009900 !important;
    text-transform: uppercase;
}

.wrap form.city {

}

.wrap form.city div.group {
    margin: 0 auto 10px auto;
    padding: 0;
}

.wrap form.city p {
    margin: 0 0 3px 0;
    padding: 0;
}

.wrap form.city label {
    font-size: 12px;
    margin: 0 0 0 15px;
    padding: 0;
}

.wrap form.city input {
    margin: 0 0 7px 0;
    padding: 3px 7px;
    font-size: 12px;
    color: #666666;
    border: 1px solid #999999;
    text-align: center;
}

.wrap form.city input.button {
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 45px;
    background-color: #333;
    margin: 25px 0 0 0;
    color: #ffffff;
    cursor: pointer;
}

.wrap form.city textarea:not(.redactor) {
    min-width: 300px;
    max-width: 300px;
    min-height: 45px;
    padding: 7px;
    font-size: 12px;
    color: #666666;
}

.wrap form.city textarea.redactor2 {
    min-width: 690px;
    max-width: 690px;
    min-height: 230px;
}

.wrap form.gallery {
    max-width: 1020px;
    margin: auto;
}

.wrap form.gallery .group {
    display: inline-block;
    width: 47%;
    max-width: 500px;
    margin: 15px 10px 15px 10px !important;
}

.wrap form.gallery .group img {
    max-width: 100%;
    max-height: 100%;
}